# vscode:
settings.json
.metals
ods_sql.md
ods.sql
ods1.sql
tempCodeRunnerFile.sh
ftp.sh
*.xlsx
*.xls
shell collections.md
*.mongodb
telegram_bot*
Python*.py
*.class
mysqlclient-2.0.3/*
*.png
sql01.sql
shell04.sh
